.primary-button {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--eucaplyptus);
    color: var(--dark-purple);
    border: 1px solid transparent;

    padding: 15px 25px;
    cursor: pointer;
    height: 61px;
    margin: 0;
    transition: all 0.3s ease;
}

.primary-button:hover {
    border: 1px solid var(--eucaplyptus);
    color: var(--eucaplyptus);
    background-color: var(--dark-purple);
}

.primary-button:active {
    background-color: #8affc5;
    color: var(--dark-purple);
}


.secondary-button {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.18px;
    background-color: var(--dark-purple);
    color: var(--white);
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 140px;
    height: 35px;
    border-bottom: 3px solid var(--eucaplyptus);
}

.secondary-button:hover {
    color: var(--eucaplyptus);
}

@media only screen and (min-width: 600px) and (max-width: 769px) {

    /* For tablets: */

    .primary-button {
        padding: 12px 23.5px;
        height: 56px;
        font-size: 16px;
    }
}