.SectionInfoProductItem {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 56px;
}

.SectionInfoProductItemNumberWrapper {
    display: flex;
    width: 3em;
    height: 3em;
    align-items: center;
    justify-content: center;
    /* Make it a circle */
    border-radius: 100%;
    border: 1px solid var(--davys-grey);
}

.SectionInfoProductItemNumber {
    color: var(--dark-purple);
    font-family: 'Fraunces';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: center;
}

.SectionInfoProductItemContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.SectionInfoProductItemContent h3 {
    font-family: 'Fraunces';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 28px;
}

.SectionInfoProductItemContent p {
    font-family: 'Manrope';
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    color: var(--dark-purple);
}

@media only screen and (min-width: 600px) and (max-width: 769px) {

    /* For tablets: */
    .SectionInfoProductItem {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    .SectionInfoProductItemContent {
        flex-direction: column;
        align-items: flex-start;
    }

    .SectionInfoProductItemContent p {
        text-align: left;
        font-size: 16px;
        line-height: 28px;
    }

    .SectionInfoProductItemContent h3 {
        font-size: 28px;
        line-height: 36px;
    }


}