.SectionInfoProductItem{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.5rem;
}

.SectionInfoProductItemContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.SectionInfoProductItemContent h3 {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 600;

    font-size: 1.75rem;
    line-height: 2.25rem;
    text-align: center;
    letter-spacing: 0;
}

.SectionInfoProductItemContent p {
    font-family: 'Manrope';
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    text-align: center;
    color: var(--dark-purple);
}

.SectionInfoProductItemNumberWrapper {
    display: flex;
    width: 3rem;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;

    /* Make it a circle */
    border-radius: 100%;
    border: 1px solid var(--davys-grey);
}

.SectionInfoProductItemNumber {
    color: var(--dark-purple);
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-optical-sizing: auto;

    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2.25rem;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 600px) and (max-width: 769px) {

    /* For tablets: */
    .SectionInfoProductItem {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    .SectionInfoProductItemContent {
        flex-direction: column;
        align-items: flex-start;
    }

    .SectionInfoProductItemContent p {
        text-align: left;
        font-size: 16px;
        line-height: 28px;
    }

    .SectionInfoProductItemContent h3 {
        font-size: 28px;
        line-height: 36px;
    }


}