/* Path: src/sections/WelcomeSection/WelcomeSection.css */

#welcome-section {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
}

.bottomCurve {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: var(--bottom-curve-height);
    width: 100%;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

    /* For tablets: */
    #welcome-section {

    }

    .bottomCurve {
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    /* For tablets: */
    #welcome-section {
    }

    .bottomCurve {
        bottom: 0;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

    /* For desktop: */
    #welcome-section {
    }

    .bottomCurve {

    }
}

@media only screen and (min-width: 1441px) {

    /* For big desktop: */
    #welcome-section {

    }

    .bottomCurve {

    }
}