.call-to-action-spiral-right-container {
    position: absolute;
    display: none;
    z-index: 2;
    overflow: hidden;
}

.call-to-action-spiral-right {
    position: relative;
    display: none;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

    /* For tablets: */
    .call-to-action-spiral-right-container {
        right: 0;
        top: 193px;
    }

    .call-to-action-spiral-right {
        right: -94px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .call-to-action-spiral-right-container {
        position: absolute;
        top: 35vh;
        right: 0;
        z-index: 2;
        overflow: hidden;
    }

    .call-to-action-spiral-right {
        position: relative;
        right: -40px;
    }
}

@media only screen and (min-width: 1441px) {}