#header-navigation {
    height: 100px;
    max-width: 100vw;
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 150px;
}

.header-item {
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.cta-navigation {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-family: var(--Body-font-family);
    color: var(--primary-text-color);
    line-height: 36px;
    user-select: none;
}

.cta-navigation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--button-background-color);
}

@media only screen and (min-width: 600px) and (max-width: 769px) {

    /* For tablets: */
    #header-navigation {
        height: 60px;
        min-width: 100vw;
        max-width: 100vw;
        padding: 37px 39px;
    }

    .header-item {
        height: 25px;
    }
}