/* Path: src/sections/HeadingNavigationSection.css */
/* Compare this snippet from src/sections/WelcomeSection/WelcomeSection.css: */


#header-navigation {
    background-color: var(--primary-background-color);
    flex-direction: row;
    justify-content: space-between;

    width: 100vw;
    display: flex;
    padding: var(--padding-top-navigation) 1rem 0;
}

.header-item {
    height: var(--item-height-navigation);
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.cta-navigation {
    position: relative;
    display: inline-block;
    font-size: 1.125rem;
    font-family: var(--Body-font-family);
    color: var(--primary-text-color);
    line-height: 2.25rem;
    user-select: none;
}

.cta-navigation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--button-background-color);
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

    /* For tablets: */
    #header-navigation {
        padding: var(--padding-top-navigation) 2.5rem 0;
    }

    .header-item {
        height: 1.5625rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    /* For tablets: */
    #header-navigation {
        padding: var(--padding-top-navigation) 10rem 0;
        width: unset;
    }

    .header-item {
        height: 2.1875rem; /* 35/16 */
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

    /* For desktop: */
    #header-navigation {
        padding: var(--padding-top-navigation) 10rem 0;
        width: unset;
    }

    .header-item {
        height: 2.1875rem; /* 35/16 */
    }

    .header-item {
        cursor: pointer;
    }

    .cta-navigation {
        user-select: none;
    }
}

@media only screen and (min-width: 1441px) {}