#welcome-section {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    padding: 0 165px;
    flex-direction: column;
    overflow: hidden;
    background-image: url('/assets/images/bottomCurve.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    background-color: var(--primary-background-color);
}