@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Fraunces', serif, 'Manrope', sans-serif;
  font-weight: 400;

  color-scheme: light;
  background-color: #FFFFFF;
  --dark-purple: #24053E;
  --white: #FFFFFF;
  --ghost-white: #FCF8FF;
  --eucaplyptus: #44FFA1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --Heading-font-family: 'Fraunces', serif;
  --Heading-font-weight: 600;
  --Heading-L-font-size: 80px;
  --Heading-M-font-size: 56px;
  --Heading-S-font-size: 32px;

  --Body-font-family: 'Manrope', sans-serif;
  --Body-font-weight: 400;
  --Body-font-size: 32px;


  /* Button Style */
  --Button-font-family: 'Manrope', sans-serif;
  --Button-font-weight: 700;
  --Button-font-size: 18px;
  --Button-background-color: var(--eucaplyptus);

  --primary-background-color: var(--dark-purple);
  --secondary-background-color: var(--ghost-white);
  --button-background-color: var(--eucaplyptus);
  --profile-background-color: var(--eucaplyptus);
  --primary-text-color: var(--white);
  --secondary-text-color: var(--dark-purple);
}

/* CSS Reset */

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Set default font styles */
body,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Reset anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Add box-sizing: border-box to all elements */
* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
}

.heading-large {
  position: relative;
  font-family: Fraunces144ptSemiBold;
  font-size: 80px;
  line-height: 85px;
}