:root {
  font-family: Fraunces144ptSemiBold, ManropeRegular;
  font-weight: 400;

  color-scheme: light;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --Heading-font-family: Fraunces144ptSemiBold;
  --Body-font-family: ManropeRegular;
  --dark-purple: #24053E;
  --white: #FFFFFF;
  --ghost-white: #FCF8FF;
  --eucaplyptus: #44FFA1;
  --primary-background-color: var(--dark-purple);
  --secondary-background-color: var(--ghost-white);
  --button-background-color: var(--eucaplyptus);
  --profile-background-color: var(--eucaplyptus);
  --primary-text-color: var(--white);
  --secondary-text-color: var(--dark-purple);
}

/* CSS Reset */

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Set default font styles */
body,
button,
input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Reset anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Add box-sizing: border-box to all elements */
* {
  box-sizing: border-box;
}